/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- Apply a natural box layout model to all elements --------------*/
* {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  }

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; /*Also loaded 600 for bold*/
}

/* -------- Color Bar -------- */
#colorbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    background: #e61b10;
    width: 100%;
}



/* -------- HEADER -------- */
#headerWrapper {
    background: #3b4044;
}

header {
    padding: 1em 2% .5em 2%;
}

header h1 {
    font-size: 2.1em;
    color: #fff;
}

header h2 {
    font-size: .9em;
    font-weight: 300;
    color: #ddd;
    margin-top: .75em;
}





/* -------- NAVIGATION -------- */
#navWrapper {
    background: #e61b10;
}

nav {
    padding: .3em 0;
}

nav ul {
    display: none;
}

nav select {
    display: block;
    margin: 0 2%;
    width: 96%;
}















/* -------- FOOTER -------- */
#footerWrapper {
    background: #807f7f;
    color: #fff;
    text-align: center;
    padding: 5px 0 5px 0;
    margin-top: 10px;
}





/* -------- Helps restore the colour in the Navigation after the float left was added -------- */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}