/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- Apply a natural box layout model to all elements --------------*/
* {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  }

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; /*Also loaded 600 for bold*/
}


/* -------- HEADER -------- */
#headerWrapper {
    background: #3b4044;
}

header {
    padding: 1em 2% .5em 2%;
}

header h1 {
    font-size: 2.1em;
    color: #fff;
}

header h2 {
    font-size: .9em;
    font-weight: 300;
    color: #ddd;
    margin-top: .75em;
}


/* -------- NAVIGATION -------- */
#navWrapper {
    background: #e61b10;
}


nav ul {
    padding: 1em 0;
}


nav ul li {
    margin: 0 2%;
    width: 46%;
    float: left;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.40);
}

nav ul li a {
    display: block;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0,0,0,0.15);
    margin: .2em 0 ;
    padding: .6em 0;
    border-radius: 1em;
    /* box-shadow: 1px 1px 4px #000; */
}







/* -------- FOOTER -------- */
#footerWrapper {
    background: #807f7f;
    color: #fff;
    text-align: center;
    padding: 5px 0 5px 0;
    margin-top: 10px;
}








/* -------- Helps restore the colour in the Navigation after the float left was added -------- */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}